<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:replace="common/header :: headerFragment"></div>
    <div class="container">
        <div class="page-header"><h3>글쓰기</h3></div>
        
        
        <form action="/post/create" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class = "form-control" id="title" name="title">
            </div>

            <div class="form-group">
                <label for="content">내용</label><br>
                <textarea name="content" id = "content" class = "form-control" rows="10"  maxlength="800" placeholder="내용을 입력해주세요"></textarea>
            </div>

<!--            <div class="form-group">-->
<!--                <label for="email">이메일</label><br>-->
<!--                <input type="text" name="email" id = "email" class = "form-control" >-->
<!--            </div>-->

            <div>
                <label >예약여부</label>
                <input type="radio" name="appointment" value="Y">YES
                <input type="radio" name="appointment" value="N" checked>NO
                <label >예약시간</label>
                <input type="datetime-local" name="appointmentTime">
            </div>

            <div class="float-end">
                <button type="submit" class="btn btn-primary ">제출</button>
            </div>
        </form>
    </div>

    
</body>
</html>